//create by webtable-code-generator webtable_v1 gen at {{.CreatedOn.Format "Jan 02, 2006 15:04:05 UTC"}}
//package 
package {{.Package}};

//import some packages and classes
import top.hcy.webtable.annotation.charts.WChart;
import top.hcy.webtable.annotation.field.*;
import top.hcy.webtable.annotation.method.WDeleteTrigger;
import top.hcy.webtable.annotation.method.WInsertTrigger;
import top.hcy.webtable.annotation.method.WSelectTrigger;
import top.hcy.webtable.annotation.method.WUpdateTrigger;
import top.hcy.webtable.annotation.table.*;
import top.hcy.webtable.charts.WCharts;
import top.hcy.webtable.common.WebTableContext;
import top.hcy.webtable.common.enums.WebFieldType;
import java.util.ArrayList;

{{ if  .EnableInsert }}@WEnadbleInsert {{end -}}
{{ if  .EnadbleFind }}@WEnadbleFind {{end -}}
{{ if  .EnadbleUpdate }}@WEnadbleUpdate {{end -}}
{{ if  .EnadbleSort }}@WEnadbleSort {{end -}}
{{ if  .EnadbleDelete }}@WEnadbleDelete {{end -}}
{{ if  .EnadbleChart }}@WEnadbleChart {{end }}
@WTable(aliasName = "{{.Alias}}",tableName = "{{.Table}}")
public class {{.ClassName}} {

{{range $k, $v := .Fields}}
   {{ if $v.EnableInsert }}@WInsertField {{end -}}
   {{ if $v.EnableUpdate }}@WUpdateField {{end -}}
   {{ if $v.EnableFind }}@WFindField {{end -}}
   {{ if $v.EnableSort }}@WSortField {{end }}
   @WField(aliasName = "{{$v.Alias}}",columnName = "{{$v.Column}}"{{- if $v.EnableRead}}{{else}}, read=false{{end}})
   private {{$v.Type}} {{$v.Name}};
{{end}}




{{range $k, $v := .Fields}}
{{- if $v.EnableConvertToShowFunction }}
   @WFieldToShow("{{$v.Name}}")
   public Object w{{$v.Name}}FieldToShow(Object ob){
      System.out.println("------------- w{{$v.Name}}FieldToShow ------------- ");
      return ob;
   }
{{end }}

{{- if $v.EnableConvertToPersistenceFunction }}
   @WFieldToPersistence("{{$v.Name}}")
   public Object w{{$v.Name}}FieldToPersistence(Object ob){
      System.out.println("------------- w{{$v.Name}}FieldToPersistence ------------- ");
      return ob;
   }

{{end -}}

{{end}}

{{- if  .EnadbleSelectTrigger  }}
 
   @WSelectTrigger
   public void selectDataTrigger(WebTableContext ctx){
      System.out.println("------------- selectDataTrigger --------------");
   }

{{end  -}}

{{- if  .EnadbleInsertTrigger  }}
 
   @WInsertTrigger
   public void insertDataTrigger(WebTableContext ctx){
      System.out.println("------------- insertDataTrigger --------------");
   }

{{end  -}}

{{- if  .EnadbleUpdateTrigger  }}

   @WUpdateTrigger
   public void updateDataTrigger(WebTableContext ctx){
      System.out.println("------------- updateDataTrigger --------------");
   }

{{end  -}}


{{- if  .EnadbleDeleteTrigger  }}
   @WDeleteTrigger
   public void deleteDataTrigger(WebTableContext ctx){
     System.out.println("------------- deleteDataTrigger --------------");
   }
{{end  -}}


{{- if  .EnadbleDeleteTrigger  }}

   @WChart(value = "示例图表",showDashboard = true)
   public Object showChartDemo(){

      ArrayList<String> x = new ArrayList<>();
      ArrayList<Integer> y = new ArrayList<>();

      x.add("aaa");
      x.add("bbb");
      x.add("ccc");
      x.add("ddd");

      y.add(100);
      y.add(200);
      y.add(300);
      y.add(400);

      WCharts wBarChart = new WCharts(x, y, WCharts.PieChart1);
      wBarChart.setXname("横坐标");
      wBarChart.setYname("竖坐标");
      wBarChart.setTitle("示例图表");
      return wBarChart;

   }

{{end  -}}

}