//create by webtable-code-generator webtable_v1 gen at {{.CreatedOn.Format "Jan 02, 2006 15:04:05 UTC"}}
//package 
package {{.Package}};

//import some package and class
import top.hcy.webtable.annotation.charts.WChart;
import top.hcy.webtable.annotation.field.*;
import top.hcy.webtable.annotation.method.WDeleteTrigger;
import top.hcy.webtable.annotation.method.WInsertTrigger;
import top.hcy.webtable.annotation.method.WUpdateTrigger;
import top.hcy.webtable.annotation.table.*;
import top.hcy.webtable.charts.WCharts;
import top.hcy.webtable.common.enums.WebFieldType;

{{if  .EnableInsert }}@WEnadbleInsert {{end}}
{{if  .EnadbleFind }}@WEnadbleInsert {{end}}
{{if  .EnadbleUpdate }}@WEnadbleUpdate {{end}}
{{if  .EnadbleSort }}@WEnadbleSort {{end}}
{{if  .EnadbleDelete }}@WEnadbleDelete {{end}}
{{if  .EnadbleChart }}@WEnadbleChart {{end}}
@WTable(aliasName = "{{.Alias}}",tableName = "{{.Table}}")
public class {{.ClassName}} {

{{range $k, $v := .Fields}}
   @WField(aliasName = "{{$v.Alias}}",columnName = "{{$v.Column}}")
   private {{$v.Type}} {{$v.Name}};
{{end}}


// @WFieldToShow("")
// public void wFieldToPersistence(Object ob){
//  System.out.println("------------- wFieldToPersistence ------------- ");
// }

// @WFieldToShow("")
// public void wFieldToPersistence(){
//  System.out.println("------------- wFieldToPersistence ------------- ");
// }

// @WFieldToPersistence("")
// public void wFieldToPersistence(Object ob){
//  System.out.println("------------- wFieldToPersistence ------------- ");
// }

// @WFieldToPersistence("")
// public void wFieldToPersistence(){
//  System.out.println("------------- wFieldToPersistence ------------- ");
// }

// @WInsertTrigger
// public void insertDataTrigger(WebTableContext ctx){
//  System.out.println("------------- insertDataTrigger --------------");
// }
//
// @WUpdateTrigger
// public void updateDataTrigger(WebTableContext ctx){
//  System.out.println("------------- updateDataTrigger --------------");
// }
//
// @WDeleteTrigger
// public void deleteDataTrigger(WebTableContext ctx){
//  System.out.println("------------- deleteDataTrigger --------------");
// }


//   @WChart(value = " ",showDashboard = true)
//   public WCharts chart3(){
//
//
//   }
}